@import 'sass-components/_variables';
@import 'sass-components/_mixins';
@import 'sass-components/_functions';

.block-title {
  position: relative;
  z-index: 1000;
  @include reset-padding-margin();
  @include font-family("Intro Regular Alt");
  text-align: center;
  color: $main-block-title-color;
  font-size: 34px;
}
