@import 'sass-components/_variables';
@import 'sass-components/_mixins';
@import 'sass-components/_functions';

.js-callback-form-wrapper {
	position: fixed;
	top: 150px;
	left: 50%;
	transform: translate(-50%);
	z-index: 10000;
	box-sizing: border-box;
	padding: 6px;
	background-color: #ffffff;

	&--hidden {
		display: none;
	}
}

.js-callback-form-content {
	position: relative;
	padding: 25px 40px;
	border: 5px solid $calories-tabloid-border-color;
}

.close-form-btn {
		position: absolute;
		top: 14px;
		right: 22px;
		display: block;
		width: 14px;
		height: 14px;
		text-align: center;
		cursor: pointer;

		&__stroke-down {
			position: absolute;
			top: 6px;
			left: 0;
			display: block;
			width: 100%;
			height: 2px;
			background-color: #000000;
			transform-origin: center;
			transform: rotate(45deg);
		}

		&__stroke-up {
			position: absolute;
			top: 6px;
			left: 0;
			display: block;
			width: 100%;
			height: 2px;
			background-color: #000000;
			transform-origin: center;
			transform: rotate(-45deg);
		}
	}

.js-callback-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 30px;

	&-title {
		@include reset-padding-margin();
		margin-bottom: 15px;
		@include font-family("Intro Bold Alt");
		font-size: 34px;
		color: #333333;
		text-align: center;
	}

	&-text {
		@include reset-padding-margin();
		font-size: 14px;
	}

	&-radios-wrapper {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		width: 467px;
		margin-bottom: 20px;
	}

	&-textInputs-wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
	}

	&-label-btn {
		box-sizing: border-box;
	  padding: 11px 30px;
	  border: 2px solid #1bbbd9;
	  text-align: center;
	  @include border-radius(100px);
	  @include font-family("Opensans Bold");
	  cursor: pointer;
		background-color: #ffffff;
		color: #333333;
		font-size: 14px;
		@include font-family("Opensans Regular");

		&:hover {
			border-color: #41edff;
		}
	}

	&-radio-input {
		display: none;
	}

	&-radio-input:checked + &-label-btn {
		background-color: #1bbbd9;
		color: #ffffff;
	}

	&-text-label {
		width: 100%;
		margin-bottom: 3px;
		text-align: left;
	}

	&-text-input {
		box-sizing: border-box;
		width: 100%;
		height: 40px;
		padding: 8px 16px;
		border: 1px solid $callback-form-input-border-color;
		@include border-radius(2px);
		margin-bottom: 10px;
		background-color: #d3eff2;
		color: #333333;
		font-size: 13px;
		@include box-shadow(0, 0, 0, #b7e5eb, true);

		&:focus {
			border-radius: 0;
			background-color: #ffffff;
			@include box-shadow(0, 0, 0, #17add2, true);
			outline: 1px solid #17add2;
		}
	}

	&-privacy-policy-text {
		max-width: 330px;
		@include reset-padding-margin();
		margin-bottom: 15px;
		text-align: left;
		font-size: 10px;
		color: #999999;
	}

	&-submit-btn {
		padding: 15px 48px;
		border: 2px solid $callback-form-btn-border-color;
		@include border-radius(2px);
		outline-color: transparent;
		background-color: $callback-form-btn-bg;
		color: #ffffff;
		@include font-family("Intro Bold Alt");
		font-size: 22px;
		text-align: center;
		text-decoration: none;
		cursor: pointer;

		&:hover {
			border: 2px solid $callback-form-btn-hover-border-color;
			background-color: $callback-form-btn-hover-bg;
		}

		&:active {
			outline-color: transparent;
		}
	}
}

.js-callback-form-overlay {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
	display: none;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.3);

	&--shown {
		display: block;
	}

}
