@import "node_modules/normalize-scss/sass/normalize/_import-now";

// End of normalize

html {
  font-size: 13px;
  color: #333;
  font-family: 'Arial', sans-serif;
}

body {
  padding: 0;
  margin: 0;
  background-color: #fff;
}
