@import '../../sass-components/_variables';
@import '../../sass-components/_mixins';
@import '../../sass-components/_functions';

.general-block-description {
  @include reset-padding-margin();
  margin-top: 22px;
  margin-bottom: 47px;
  @include font-family("Intro Light");
  text-align: center;
  font-size: 22px;
  color: $main-general-block-description;
}
