@import '../../sass-components/_variables';
@import '../../sass-components/_mixins';
@import '../../sass-components/_functions';

.calories-you-could-burn-block {
	position: relative;
	padding-top: 27px;
	background-image: url('../../../img/body-bg--bottom.jpg');
	background-position: bottom center;
	background-repeat: no-repeat;
}

.walking-man-space {
	position: relative;
}

.walking-man-wrapper {
	position: absolute;
	bottom: -49px;
	left: 0px;
}

.walking-man-img {

	&--flipped {
		-moz-transform: scaleX(-1);
		-o-transform: scaleX(-1);
		-webkit-transform: scaleX(-1);
		transform: scaleX(-1);
		filter: FlipH;
		-ms-filter: "FlipH";
	}
}

.restricted-walking-man-space {
	overflow-x: hidden;
}
