@import '../../sass-components/_variables';
@import '../../sass-components/_mixins';
@import '../../sass-components/_functions';

.calories-you-could-burn-block {
	position: relative;
	padding-top: 27px;
	background-image: url('../../../img/body-bg--bottom.jpg');
	background-position: bottom center;
	background-repeat: no-repeat;
}