@import '../../sass-components/_variables';
@import '../../sass-components/_mixins';
@import '../../sass-components/_functions';



.events {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-bottom: 27px;
  margin-top: 50px;
  margin-bottom: 25px;
  background-color: #ffffff;
  @include gradient(to bottom, $main-bottom-bg-gradient-colors);
}

.block-title {
  position: relative;
  z-index: 1000;
  @include reset-padding-margin();
  text-align: center;
  color: #626161;
  font-size: 34px;
}

.event-banners-wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-width: $container-width + px;
  margin-top: 55px;
  padding-bottom: 23px;
}

.js-ski-guy {
  position: absolute;
  top: 177px;
  left: 479px;
  z-index: 1700;
  width: 190px;
  height: 160px;
  background-image: url('../../../img/ski-guy.png');
  background-repeat: no-repeat;
}

.events-wrapper {
  position: relative;
  width: 230px;

  &[data-event-num="1"] {
    top: 47px;
  }

  &[data-event-num="2"] {
    top: 23px;
  }

  &[data-event-num="3"] {
    top: 0;
  }
}

.event-banner {
  position: relative;

  &__date-day {
    color: #ffffff;
    font-size: 30px;
    font-weight: bold;
  }

  &__date-month {
    display: none;
  }

  &__banner-front {
    box-sizing: border-box;
    position: absolute;
    top: 7px;
    left: 15px;
    z-index: 2000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 85px;
    padding: 25px 31px;
    background-color: $main-banner-front-bg;
    @include default-set-for-link();
    transform: skewY(-10deg);

    &:hover {
      text-decoration: underline;
    }
  }

  &__banner-text {
    width: 100%;
    text-align: center;
    font-size: 18px;
  }

  &__banner-back {
    position: absolute;
    top: 9px;
    z-index: 1000;
    box-sizing: border-box;
    width: 224px;
    height: 54px;
    background-color: $main-banner-back-bg;
    transform: skewY(10deg);

    &::after {
      content: "";
      position: absolute;
      top: 37px;
      right: -6px;
      display: block;
      width: 6px;
      height: 11px;
      background-color: $main-banner-back-bg;
      transform: skewY(-58deg);
    }
  }

  &__banner-pillar-front {
    position: absolute;
    top: 9px;
    right: 6px;
    z-index: 1900;
    @include banner-pillar-styles();
  }

  &__banner-pillar-back {
    position: relative;
    top: -40px;
    left: 20px;
    z-index: 1000;
    @include banner-pillar-styles();
    height: 257px;
  }
}

.event-date {
  position: relative;
  top: -17px;
  left: 0;
  z-index: 2500;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 54px;
  height: 54px;
  transform: skewY(-10deg);
  background-color: $main-banner-bg;
  text-align: center;
}

.mountains-bg-wrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 442px;
  background-image: url('../../../img/bg-mountains.png');
}
