$container-width: 978;
$default-link-color: #fff;

// Variables for header start here
$header-contact-info-bar-bg: #e33962;
$header-contact-info-bar-buttons-bg: #ce365a;
$header-contact-info-bar-buttons-font-size: 12;
$header-contact-info-bar-items-kerning: 20;
$header-contact-info-bar-items-color: #fff;
$header-tel-number-region-code-color: #ffa3b9;
$header-page-navigation-menu-links: #5b5b5b;
$header-page-navigation-menu-icons-gradient-direction: 60deg;
$header-menu-icons-gradient-colors: #1bbdce 0%, #21d0e2 100%;
$header-menu-icons-gradient-colors-hover: #e23861 0%, #ce365a 100%;
// Variables for header end here

//Variables for main block starts here
$main-slider-offer-description-bg: #e23760;
$main-slider-offer-title-font-size: 30;
$main-slider-offer-paragraph-font-size: 14;
$main-bottom-bg-gradient-colors: #ffffff 0%, #d6eefa 100%;
$main-banner-bg: #f2537c;
$main-banner-front-bg: #de476e;
$main-banner-back-bg: #c63e61;
$main-banner-pillar-color : #d0d0d0;

//Variables for main block ends here
