$default-link-color: #fff;

// Variables for header start here
$header-contact-info-bar-bg: #e33962;
$header-contact-info-bar-buttons-bg: #ce365a;
$header-contact-info-bar-buttons-font-size: 12;
$header-contact-info-bar-items-kerning: 20;
$header-contact-info-bar-items-color: #fff;
$header-tel-number-region-code-color: #ffa3b9;


// Variables for header end here
