$container-width: 978;
$default-link-color: #ffffff;

// Variables for header start here
$header-contact-info-bar-bg: #e33962;
$header-contact-info-bar-buttons-bg: #ce365a;
$header-contact-info-bar-buttons-font-size: 12;
$header-contact-info-bar-items-kerning: 20;
$header-contact-info-bar-items-color: #ffffff;
$header-tel-number-region-code-color: #ffa3b9;
$header-page-navigation-menu-links: #5b5b5b;
$header-page-navigation-menu-icons-gradient-direction: 60deg;
$header-menu-icons-gradient-colors: #1bbdce 0%, #21d0e2 100%;
$header-menu-icons-gradient-colors-hover: #e23861 0%, #ce365a 100%;
// Variables for header end here

//Variables for main block starts here
$main-general-block-description: #626161;
$main-block-title-color: #626161;

  // Variables for slider start here
  $main-slider-offer-description-bg: #e23760;
  $main-slider-offer-title-font-size: 30;
  $main-slider-offer-paragraph-font-size: 14;
  // Variables for slider end here

  // Variables for events block start here
  $main-bottom-bg-gradient-colors: #ffffff 0%, #d6eefa 100%;
  $main-banner-bg: #f2537c;
  $main-banner-front-bg: #de476e;
  $main-banner-back-bg: #c63e61;
  $main-banner-pillar-color : #d0d0d0;
  // Variables for events block start here

  // Variables for body shape evaluation block start here
  $main-evaluation-form-bg-gradient-color: #1bbdce 0%, #21d0e2 100%;
  $main-evaluation-form-label-font-size: 18;
  $main-evaluation-form-radio-input-checked-text-color: #21d0e2;
  $main-evaluation-form-general-info-input-bg: #12a9c4;
  // Variables for body shape evaluation block start here

  // Variables for calories tabloid start here
  $calories-tabloid-border-color: #d3eff2;
  $calories-tabloid-title-color: #626161;
  $calories-tabloid-handle-gradient-colors: #abbbbd 0%, #c4d4d6 100%;
  // Variables for calories tabloid start here

  $scroll-to-top-button-bg: rgba(226, 55, 96, 0.9);
//Variables for main block ends here

// Variables for footer start here
$footer-gradient-colors: #e23760 0%, #f85980 100%;

  // Variables for social icons in footer start here
  $footer-social-btn-bg: #e33861;
  $footer-social-btn-bg-logo-size:
  (vk: (
    width: 24,
    height: 14
    ),
  fb: (
    width: 9,
    height: 20
    ),
  ok: (
    width: 14,
    height: 24
    ),
  yt: (
    width: 24,
    height: 29
    ));
  $footer-social-btn-vk-bg-color: #4d7198;
  $footer-social-btn-fb-bg-color: #3b5998;
  $footer-social-btn-ok-bg-color: #f2720c;
  $footer-social-btn-yt-bg-color: #cc181e;
  // Variables for social icons in footer end here
// Variables for footer end here

// Variables for callback-form start here
$callback-form-input-border-color: #b7e5eb;
$callback-form-btn-bg: #1bbbd9;
$callback-form-btn-border-color: $callback-form-btn-bg;
$callback-form-btn-hover-bg: #41edff;
$callback-form-btn-hover-border-color: $callback-form-btn-hover-bg;
// Variables for callback-form end here
