@import '../sass-components/_variables';
@import '../sass-components/_mixins';
@import '../sass-components/_functions';

.footer-contact-info {
	display: flex;
	flex-direction: column;

	&__address {
		@include font-family("Opensans Regular");
		margin-bottom: 5px;
		color: #ffffff;
		text-decoration: underline;
	}

	&__phone-number {
		margin-bottom: 5px;
		color: #ffffff;
		font-weight: bold;
		text-decoration: none;
	}

	&__phone-number-alt {
		margin-bottom: 5px;
		color: #ffffff;
		text-decoration: none;
		font-weight: bold;
	}

	& a:nth-last-child(1) {
		margin-bottom: 0;
	}
}
