@import '../sass-components/_variables';
@import '../sass-components/_mixins';
@import '../sass-components/_functions';

.footer-content-wrapper {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: space-between;
	min-width: $container-width + px;
}
