@import '../sass-components/_variables';
@import '../sass-components/_mixins';
@import '../sass-components/_functions';

.main {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin-top: 18px;
}

